node_modules
dist
dist-override
!tests/dist/
!tests/dist/**
.untestutils
examples/**/.untestutils
examples/**/.untestutils-*
.nuxt
.output
.astro
.next
.svelte-kit
.vinxi
coverage
test-results
*.log
.DS_Store
.pnpm-store
playground/test-results
playground/fixtures/**/out
playground/fixtures/**/build
*.tsbuildinfo
.env
.env.*
!.env.example
docs/.vitepress/cache
docs/.vitepress/dist
