node_modules
dist
!tests/dist/
!tests/dist/**
.untestutils
.nuxt
.output
.astro
.next
.svelte-kit
coverage
test-results
*.log
.DS_Store
.pnpm-store
playground/test-results
playground/fixtures/**/out
playground/fixtures/**/build
*.tsbuildinfo
.env
.env.*
!.env.example
docs/.vitepress/cache
docs/.vitepress/dist
